

.sidebar-links {
  margin-top: 20px;
}

.sidebar-links a {
  margin: 10px 0;
  display: block;
  color: white;
  cursor: pointer;
  transition: color 0.3s ease;
  text-decoration: none;
  display: block;
  margin-bottom: 5px;
}

.sidebar-links a:hover {
  color: #00bcd4;
}
